
.contenedor{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin:0 65px 0;
}
.fotocheck{
    border: 1px solid black;
    margin-bottom: 1px;
    margin-right: 1px;
}

.cabecera {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    font-size: 11px;
    font-weight: bold;
}
.titulo-empresa{
    margin-bottom: 0px
}
.ruc{
    font-size: 9px;
}

.logo{
    width: 58px;
    height: 27px;
    padding:10px 0px 8px 10px;
}
.cuerpo-datos{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.cuerpo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1 fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    font-size: 11px;
    padding-left: 10px;
    margin-top: 0px;
}
.nombre{
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
}
.negrita{
    font-weight: bold;
}
P{
    margin: 0px;
}
.footer{
    font-size: 9px;
    padding-left: 10px;
    padding-bottom: 5px;
    text-align: center;
}